Django==1.11.29
django-auth-ldap==1.7.0
django-bootstrap-themes==3.3.6
django-bootstrap-ui==0.5.1
django-datetime-widget==0.9.3
django-durationfield==0.5.5
django-extensions==2.2.8
django-jquery==2.2.4
django-jquery-ui==1.11.4.1
django-range-slider==0.2.4
django-suit==0.2.28
django-suit-locale==1.0.10
psycopg2==2.7.7
psycopg2-binary==2.8.4
django-environ
gunicorn==20.0.4
