.slider {
  width: 100%;
  margin: 0px 0;
  padding-top: 25px;
  position: relative;
  margin-top: -30px;
}
.slider input[type="range"] {
  width: 100%;
  position: absolute;
  top: 10px;

}
.slider-input{
  position: absolute;
  top: 10px;
}
.rangeslider__handle:after {
    width: 0px !important;
    height: 0px !important;
}

.rangeslider{
  position: absolute;
  top: 45px;
  background: linear-gradient(to right, #ffffff -1%, #345578 100%);
}

.rangeslider__handle {
  width: 10px !important;
  height: 20px !important;
  top: 0px !important;
}

.rangeslider__fill{
  display: none;
}

.slider .limit {
  color: #fff;
  position: absolute;
}

.slider .colors {
  margin: 0px;
  list-style-type: none;
}

.slider .colors li {
  display: inline-block;
}

.slider .colors .green {
  color: #c2ccd6;
  position: absolute;
  left: 0%;
}

.slider .colors .yellow {
  color: #afbcca;
  position: absolute;
  left: 23%;
}

.slider .colors .orange {
  color: #5b7592;
  position: absolute;
  left: 47%;
}

.slider .colors .red {
  color: #436282;
  position: absolute;
  left: 71%;

}
.slider .colors .white {
  color: #3d5d7e;
  position: absolute;
  left: 98%;

}

