{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% load staticfiles %}

<style>

.slider {
  width: 100%;
  margin: 0px 0;
  padding-top: 25px;
  position: relative;
  margin-top: -30px;
}
.slider input[type="range"] {
  width: 100%;
  position: absolute;
  top: 10px;

}
.slider-input{
  position: absolute;
  top: 10px;
}
.rangeslider{
  position: absolute;
  top: 45px;

  background: linear-gradient(to right, #ffffff -1%, #345578 100%);
}

.rangeslider__handle{

}

.rangeslider__fill{
  width: 100%;
  position: absolute;
  top: 50px;
  background: none !important;
}

.slider .limit {
  color: #fff;
  position: absolute;
}

.slider .colors {
  margin: 0px;
  list-style-type: none;
}

.slider .colors li {
  display: inline-block;
  <!-- width: 14%; -->
}

.slider .colors .green {
  color: #c2ccd6;
  position: absolute;
  left: 0%;
}

.slider .colors .yellow {
  color: #afbcca;
  position: absolute;
  left: 25%;
}

.slider .colors .orange {
  color: #5b7592;
  position: absolute;
  left: 50%;
}

.slider .colors .red {
  color: #436282;
  position: absolute;
  left: 75%;

}
.slider .colors .white {
  color: #3d5d7e;
  position: absolute;
  left: 99%;

}

</style>

<div class="well bs-component">
  <form class="form-horizontal" action="{% url 'checks_create' %}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>{{ _('Checks_request') }}</legend>
      <div class="form-group" title="{{ _('Start_title') }}">
        <label class="col-sm-2 control-label" for="id_starts">{{ _('Starts') }}</label>
        <div class="col-sm-2">

          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" id="sp0down" class="btn btn-primary" aria-label="Bold">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </div>
            <input class="form-control text-center" type="text" name="starts" id="id_starts"
                   value="{{ form.starts.value|default:'' }}"/>
            <div class="input-group-btn">
              <button type="button" id="sp0up" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
           
          </div>
        </div>
      </div>
      <script>
        $( "#sp0down" ).on( "click", function() {
          $( "#id_starts" ).val( parseInt($( "#id_starts" ).val())-1);
        });
        $( "#sp0up" ).on( "click", function() {
          $( "#id_starts" ).val( parseInt($( "#id_starts" ).val())+1);
        });
      </script>
  
      
      <div class="form-group">
        <label class="col-sm-2 control-label" for="id_operating_hours">{{ _('Operating_hours') }}</label>
        <div class="col-sm-2">
          <div class="input-group" >
            <span class="input-group-addon" id="basic-addon1" >
              <span class="glyphicon glyphicon-time" id="id_operating_hours_icon" aria-hidden="true"></span>
            </span>
            <input class="form-control" type="text" name="operating_hours" id="id_operating_hours"
                   value="{{ form.operating_hours.value|default:'' }}"/>
          </div>
        </div>
      </div>
      
     
      <script type="text/javascript">
        $("#id_operating_hours").timepicker({
                minuteStep: 1,
                template: 'dropdown',
                maxHours:1000,
                appendWidgetTo: 'body',
                showSeconds: false,
                showMeridian: false,
                showInputs: false,
                explicitMode: true,
                defaultTime: '{{ form.operating_hours.value|default:'' }}'
            });
      </script>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="id_date_from">{{ _('Voltages') }}</label>
        <div class="col-sm-2">
          <div class="input-group number-spinner">
            <div class="input-group-btn">
              <button type="button" id="sp1up" class="btn btn-primary" aria-label="Bold">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </div>
            <input class="form-control text-center" type="text" name="voltage_1" id="id_voltage_1"
                   value="{{ form.voltage_1.value|default:'' }}"/>
            <div class="input-group-btn">
              <button type="button" id="sp1down" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </div>
        </div>
        <label class="control-label"></label>
        <div class="col-sm-2">
          <div class="input-group number-spinner">
            <div class="input-group-btn">
              <button type="button" id="sp2up" class="btn btn-primary" aria-label="Bold">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </div>
            <input class="form-control text-center" type="text" name="voltage_2" id="id_voltage_2"
                   value="{{ form.voltage_2.value|default:'' }}"/>
            <div class="input-group-btn">
              <button type="button" id="sp2down" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </div>
        </div>
        <label class="control-label"></label>
        <div class="col-sm-2">
          <div class="input-group number-spinner">
            <div class="input-group-btn">
              <button type="button" id="sp3up" class="btn btn-primary" aria-label="Bold">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </div>
            <input class="form-control text-center" type="text" name="voltage_3" id="id_voltage_3"
                   value="{{ form.voltage_3.value|default:'' }}"/>
            <div class="input-group-btn">
              <button type="button" id="sp3down" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <script>
        $( "#sp1up" ).on( "click", function() {
          $( "#id_voltage_1" ).val( parseInt($( "#id_voltage_1" ).val())-1);
        });
        $( "#sp1down" ).on( "click", function() {
          $( "#id_voltage_1" ).val( parseInt($( "#id_voltage_1" ).val())+1);
        });
        $( "#sp2up" ).on( "click", function() {
          $( "#id_voltage_2" ).val( parseInt($( "#id_voltage_2" ).val())-1);
        });
        $( "#sp2down" ).on( "click", function() {
          $( "#id_voltage_2" ).val( parseInt($( "#id_voltage_2" ).val())+1);
        });
        $( "#sp3up" ).on( "click", function() {
          $( "#id_voltage_3" ).val( parseInt($( "#id_voltage_3" ).val())-1);
        });
        $( "#sp3down" ).on( "click", function() {
          $( "#id_voltage_3" ).val( parseInt($( "#id_voltage_3" ).val())+1);
        });
      </script>


      <div class="form-group">
        <label class="col-sm-2 control-label" for="id_tank">{{ _('Tank') }}</label>
        <div class="col-sm-2">
          <select class="form-control" name="tank" id="id_tank">
            {% for choice in form.tank.field.choices %}
            <option value="{{choice.0}}" {% if choice.0 == form.tank.value %}selected{%endif%}>{{choice.1}}</option>{% endfor %}
          </select>
          <small id="id_complete_resource" class="form-text text-muted">&nbsp;</small>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="id_tank">{{ _('Tank') }}</label>
        <div class="col-sm-4">
          <div id="slider" class="slider">
            <ul class="colors">
              <li class="green first-child">0</li>
              <li class="yellow">1/4</li>
              <li class="red">3/4</li>
              <li class="white">1</li>
              <li class="orange">1/2</li>
            </ul>
            <input class="slider-input"
               type="range"
               min="0"
               max="1"
               id="slider"
               step="0.01"
               value="{{ form.tank.value }}"
               data-orientation="horizontal">
          </div>
          <!-- <img class="logo-header" src="/static/images/ranges.png"> -->
        </div>
        <div class="col-sm-2">
          <input id="rango_valor" name="tank" style="display: yes;"
                 value="{{ form.tank.value }}">
        </div>
      
      </div>
      <br>

      <script>
        

$( document ).ready(function() {

$('input[type="range"]').rangeslider({
  polyfill: false,
  onSlide: function(position, value) {
    $( "#rango_valor" ).val( value);
  },
});

});
        <!-- var handle = $( "#custom-handle" ); -->
        <!-- $( "#slider" ).slider({ -->
        <!--     max: 1, -->
        <!--     min: 0, -->
        <!--     step: 0.05, -->
        <!--     value: {{ form.tank.value }}, -->
        <!--     animate: "fast", -->
        <!--     create: function() { -->
        <!--       handle.text({{ form.tank.value }}); -->
        <!--     }, -->
        <!--     slide: function( event, ui ) { -->
        <!--       handle.text( ui.value ); -->
        <!--       $( "#rango_valor" ).val( ui.value); -->
        <!--     } -->
        <!-- }); -->
      </script>
      
      <div class="form-group" title="{{ _('Observations') }}">
        <label class="col-sm-2 control-label" for="id_objectives">{{ _('Observations') }}</label>
        <div class="col-sm-6">
          <textarea class="form-control " name="observations" id="id_observations"
                    rows="3">{{ check.observations|default:'' }}</textarea>
        </div>
      </div>
      <br>
      <div class="form-group pull-right">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary">{{ _('Send_application') }}</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}

