{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
 
<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="active">
          <th>{{ _('Created_at') }}</th>
          <th>{{ _('Start_time') }}</th>
          <th>{{ _('End_time') }}</th>
          <th>{{ _('Starts') }}</th>
          <th>{{ _('Operating_hours') }}</th>
          <th>{{ _('Voltage_1') }}</th>
          <th>{{ _('Voltage_2') }}</th>
          <th>{{ _('Voltage_3') }}</th>
        </tr>
      </thead>
      <tbody>
        {% if checks %} {% for check in checks %}
        <tr>
          <td title="{{ check.observation|default:'' }}">
            <a href="{% url 'checks_show' check.pk %}" >{{ check.created_at|default:'' }}<a/>
          </td>
          <td>{{ check.start_time|date:'H:i'|default:'' }} </td>
          <td>
            {% if check.end_time %} 
              {{ check.end_time|date:'H:i'|default:'' }}
            {% else %}
            <a href="{% url 'checks_finalize' check.pk %}" title="{{ _('Finalize') }}">
              <i class="glyphicon glyphicon-exclamation-sign"></i>
            </a>
            {% endif %} 
          </td>
          <td>{{ check.starts|default:'' }} </td>
          <td>{{ check.operating_hours|default:'' }} </td>
          <td title="{{ check.voltage_1|default:'' }} ">
            {{ check.voltage_1|default:'' }}
          </td>
          <td title="{{ check.voltage_2|default:'' }} ">
            {{ check.voltage_2|default:'' }}
          </td>
          <td title="{{ check.voltage_3|default:'' }} ">
            {{ check.voltage_3|default:'' }}
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan='6'>{{ _('withouth_results') }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

